body {
  background-color: khaki;
}
.container {
  width: 860px;
  background-color: white;
  margin: 0 auto;
  padding: 20px 50px;
}
.navi {
  display: flex;
  list-style-type: none;
  text-align: right;
  justify-content: flex-end;
}

.navi li {
  background-color: saddlebrown;
  color: white;
  padding: 10px 30px;
  margin-left: 10px;
}

h2 {
  text-align: center;
  color: saddlebrown;
  border-bottom: 2px dotted saddlebrown;
  padding: 30px 0 20px;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
}

.text-data {
  margin: 30px 0;
  font-weight: 0.9rem;
  line-height: 1.8;
}

.copyright {
  text-align: center;
  border-top: 5px solid khaki;
  padding-top: 30px;
}